

$color-primary: var(--primaryColor);
$color-secondary: var(--secondaryColor);
$color-primary-bg: var(--primaryColorBg);
$color-secondary-bg: var(--secondaryColorBg);
$color-primary-text: var(--primaryColorText);
$color-secondary-text: var(--secondaryColorText);
//$color-tertiary: hsl(0, 0, 0);

$color-text: var(--textColor);
$color-background: var(--backgroundColor);
